body {
  margin: 0;
  overflow: hidden;
}
.button {
  margin-left: 84px;
}

#gui {
  position: fixed;
  z-index: 1000;


  display: none;
}

#Stats-output {
  display: none;
}

.wrap-modal {
  display: none;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}

.wrap-window {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
}

.window-modal {
  overflow: scroll;
  z-index: 101;
  position: relative;
  /*background-color: rgba(255,255,255,0.7);*/
  opacity: 0.95;
  /*
  width: 80%;
  max-width: 800px;
  */
  height: 94%;
  margin: 0 auto;
  top: 3%;
}

.testButton {
  position: absolute;
  z-index: 1000;
  left: 400px;
}


.wrap-lists {
  position: relative;
  width: 90%;
  left: 5%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.wrap-lists > .list {
  /*display: flex;*/
  width: 100%;
}



